@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=New+Rocker&display=swap");
*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #88a5ee;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 5rem;
  margin: auto;
}

.main {
  /* display: flex; */
  background: #ebf3fb;
  width: 40%;
  height: 70vh;
  padding: 3rem;
  margin: auto;
  line-height: 2.5rem;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
}

.main:first-of-type {
  border-bottom: 10px solid #308392;
}

.top,
.icon a {
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  font-family: "New Rocker", cursive;
  text-align: start;
  padding-top: 1.6rem;
}

.middle {
  justify-content: space-between;
}

.link a {
  text-decoration: none;
  color: black;
  padding-top: 1.6rem;
  margin: auto;
  border-bottom: 1px solid #000;
}

.model {
  justify-content: space-between;
  padding-top: 1.2rem;
  align-items: center;
}
.share {
  text-decoration: none;
  border: 1px solid black;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  color: #b4b4bc;
}

.share:hover {
  color: black;
}

.btn {
  background: #171e35;
  color: white;
  border: 1px solid black;
  padding: 0.7rem 2rem;
  border-radius: 5px;
}

.btn:hover {
  background: teal;
}

.middle small {
  margin: auto;
  border-bottom: 1px solid #000;
}

@media (max-width: 786px) {
  body {
    background: #88a5ee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0.2rem;
    margin: auto;
  }

  .main {
    /* display: flex; */
    background: #ebf3fb;
    width: 100%;
    height: 68vh;
    padding: 1rem;
    margin: auto;
    line-height: 2.5rem;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
  }

  .main:first-of-type {
    border-bottom: 10px solid #308392;
  }

  .top,
  .icon a {
    text-align: right;
    text-decoration: none;
    cursor: pointer;
  }

  h3 {
    font-family: "New Rocker", cursive;
    text-align: start;
    padding-top: 1.6rem;
  }

  .middle {
    justify-content: space-between;
    padding-top: 2rem;
  }

  .link a {
    text-decoration: none;
    color: black;
    padding-top: 1.6rem;
    margin: auto;
    border-bottom: 1px solid #000;
  }

  .model {
    justify-content: space-between;
    display: flex;
    padding-top: 1rem;
    align-items: center;
    font-size: 0.7rem;
  }
  .share {
    text-decoration: none;
    border: 1px solid black;
    padding: 0.1rem 0.8rem;
    border-radius: 5px;
    color: #b4b4bc;
  }

  .share:hover {
    color: black;
  }

  .btn {
    background: #171e35;
    color: white;
    border: 1px solid black;
    padding: 0.8rem 1.6rem;
    border-radius: 5px;
  }

  .btn:hover {
    background: teal;
  }

  .middle small {
    margin: auto;
    border-bottom: 1px solid #000;
  }
  .bottom small {
    padding-top: 9rem;
  }
}
